:host {
    --color-icon-text: #a29d9d;
    --color-text-darker: #777474;
    width: 100%;
    display: block;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 13px;
}

.container p {
    color: var(--color-text-darker);
}


.icon-textField {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    color: var(--color-icon-text);
}



.icon-textField input {
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 1rem; 
}


.divideContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.divideContainer #divider {
    height: 2px;
    background-color: var(--color-icon-text);
}

.divideContainer .secure-custom-text {
    text-align: right;
    margin-top: 15px;
    color: var(--color-text-darker);
    align-self: flex-end;
    border-radius: 5px;
    background: none;
    border: none;
    font-size: 0.9rem;
}

.divideContainer .secure-custom-text:active {
    opacity: 0.5;
}




.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}